body {
    font-family: "Times New Roman", Times, serif;
    background-image: url("../images/calendar-wallpaper-1920x1080.jpg")
}

#letters-guessed {
    display: inline;
}
.container {
    margin: 15% 15% 15% 15%;
    text-align: center;
    line-height: 49px;
    font-size: 30px;
}